# GRUPO 64
Juan Sebastián Téllez López - A01793859

José Fabricio Barahona Amaya - A01793950

El nombre que caracteriza el conjunto de datos.
La organización que lo generó.
Incluya un enlace de Internet donde se puedan descargar el base de datos en línea
Describe el conjunto de datos. ¿Qué datos contiene?
¿Cuáles son algunas de las preguntas de investigación que podría responder con estos datos? Enumere al menos OCHO (no responda las preguntas).
¿Qué actor (empresa, sector de la sociedad, organismo descentralizado, gobierno, etc.) estaría interesado en las preguntas mencionadas que identificó?

**1. Nombre que caracteriza el conjunto de datos**

Migration & Population Density WorldBank 1960-2018

**2. Organización que lo generó**

World Bank

**3. Enlace de Internet donde se puedan descargar el base de datos en línea**

https://www.kaggle.com/datasets/eliasdabbas/migration-data-worldbank-1960-2018

**4. Describe el conjunto de datos. ¿Qué datos contiene?**

-Pais.

-Año.

-Densidad de población.

-Migración neta.

-Percentil de migración.

-Identificador Iso3C e Iso 2C.

-Nombre de región.

-Nivel de Ingresos. 

-Tipo de prestamo. 

-Capital de la ciudad. 

-Longitud. 

-Latitud.

In [ ]:
import pandas as pd
from pandas_datareader import wb

wb_countries = wb.get_countries()
country_list = wb_countries[wb_countries['region']!='Aggregates']['name'].reset_index(drop=True)

indicator_ids = ['EN.POP.DNST', 'SP.POP.TOTL', 'SM.POP.NETM']

migration = wb.WorldBankReader(symbols=['SM.POP.NETM'], start=1950, end=2018, countries='all').read()
pop_density = wb.WorldBankReader(symbols=['EN.POP.DNST'], start=1950, end=2018, countries='all').read()
population = wb.WorldBankReader(symbols=['SP.POP.TOTL'], start=1950, end=2018, countries='all').read()

pop_density_countries = pop_density.reset_index()#.query('country in @country_list').reset_index(drop=True)
population_countries = population.reset_index()#.query('country in @country_list').reset_index(drop=True)
migration_countries = migration.reset_index()#.query('country in @country_list').reset_index(drop=True)

pop_density_merged = pd.merge(population_countries, pop_density_countries, on=['country', 'year'], how='outer')
migration_final = (pd.merge(pop_density_merged, migration_countries, on=['country', 'year'], how='outer')
                   .rename(columns={'SP.POP.TOTL': 'population',
                                    'EN.POP.DNST': 'pop_density',
                                    'SM.POP.NETM': 'net_migration'})
                   .assign(migration_perc=lambda df: df['net_migration'].div(df['population'])))

migration_final = pd.merge(migration_final, wb_countries, how='left', left_on='country', right_on='name')
migration_final.drop('name', axis=1).to_csv('migration_population.csv', index=False)

In [ ]:
migration_final.head()

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Africa Eastern and Southern,2018,643090131.0,43.319881,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
1,Africa Eastern and Southern,2017,626392880.0,42.195162,-791282.0,-0.001263,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
2,Africa Eastern and Southern,2016,609978946.0,41.089451,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
3,Africa Eastern and Southern,2015,593871847.0,40.004465,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
4,Africa Eastern and Southern,2014,578075373.0,38.940522,NaN,NaN,AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN

In [ ]:
migration_final[migration_final['region'].str.contains('Latin America &', na=False)]

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
3245,Antigua and Barbuda,2018,96282.0,218.822727,NaN,NaN,ATG,AG,Antigua and Barbuda,Latin America & Caribbean,,High income,IBRD,Saint John's,-61.8456,17.1175
3246,Antigua and Barbuda,2017,95425.0,216.875000,0.0,0.000000,ATG,AG,Antigua and Barbuda,Latin America & Caribbean,,High income,IBRD,Saint John's,-61.8456,17.1175
3247,Antigua and Barbuda,2016,94520.0,214.818182,NaN,NaN,ATG,AG,Antigua and Barbuda,Latin America & Caribbean,,High income,IBRD,Saint John's,-61.8456,17.1175
3248,Antigua and Barbuda,2015,93571.0,212.661364,NaN,NaN,ATG,AG,Antigua and Barbuda,Latin America & Caribbean,,High income,IBRD,Saint John's,-61.8456,17.1175
3249,Antigua and Barbuda,2014,92562.0,210.368182,NaN,NaN,ATG,AG,Antigua and Barbuda,Latin America & Caribbean,,High income,IBRD,Saint John's,-61.8456,17.1175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15453,Virgin Islands (U.S.),1964,40800.0,116.571429,NaN,NaN,VIR,VI,Virgin Islands (U.S.),Latin America & Caribbean,,High income,Not classified,Charlotte Amalie,-64.8963,18.3358
15454,Virgin Islands (U.S.),1963,39800.0,113.714286,NaN,NaN,VIR,VI,Virgin Islands (U.S.),Latin America & Caribbean,,High income,Not classified,Charlotte Amalie,-64.8963,18.3358
15455,Virgin Islands (U.S.),1962,35000.0,100.000000,10270.0,0.293429,VIR,VI,Virgin Islands (U.S.),Latin America & Caribbean,,High income,Not classified,Charlotte Amalie,-64.8963,18.3358
15456,Virgin Islands (U.S.),1961,34300.0,98.000000,NaN,NaN,VIR,VI,Virgin Islands (U.S.),Latin America & Caribbean,,High income,Not classified,Charlotte Amalie,-64.8963,18.3358
15457,Virgin Islands (U.S.),1960,32500.0,NaN,NaN,NaN,VIR,VI,Virgin Islands (U.S.),Latin America & Caribbean,,High income,Not classified,Charlotte Amalie,-64.8963,18.3358

Datos para LATAM

In [ ]:
latam_data=migration_final.loc[migration_final['region'].str.contains('Latin',na=False)].sort_values(by=['country','year'], ascending=False)[['country','year','population','net_migration','pop_density']]
latam_data

                     country  year  population  net_migration  pop_density
15399  Virgin Islands (U.S.)  2018    107001.0            NaN   305.717143
15400  Virgin Islands (U.S.)  2017    107281.0        -2254.0   306.517143
15401  Virgin Islands (U.S.)  2016    107516.0            NaN   307.188571
15402  Virgin Islands (U.S.)  2015    107712.0            NaN   307.748571
15403  Virgin Islands (U.S.)  2014    107882.0            NaN   308.234286
...                      ...   ...         ...            ...          ...
3299     Antigua and Barbuda  1964     57641.0            NaN   131.002273
3300     Antigua and Barbuda  1963     56701.0            NaN   128.865909
3301     Antigua and Barbuda  1962     55849.0        -1880.0   126.929545
3302     Antigua and Barbuda  1961     55005.0            NaN   125.011364
3303     Antigua and Barbuda  1960     54132.0            NaN          NaN

[2478 rows x 5 columns]

**5. ¿Cuáles son algunas de las preguntas de investigación que podría responder con estos datos? Enumere al menos OCHO (no responda las preguntas).**

5.1 ¿Cual es el país del que mas emigra gente? 

5.2 ¿Cual es el pais al cual ingresan mas migrantes?

5.2 ¿Como ha sido la tendencia a lo largo de los años respecto al numero de imigrantes?

5.3 ¿Que posibles razones tengan las personas para migrar de su pais?

5.4 ¿En que paises se requiere intervención de las organizaciones multilaterales?

5.5 ¿En que paises debe destinarse un mayor porcentaje de auxilios economicos a la población migrante? 

5.6 ¿Que caracteriza los destinos preferidos por los migrantes? 

5.7 ¿Que regiones o estados tienen la mayor cantidad de migrantes? 

5.8 ¿Cuales son las expectativas del migrante al llegar a un nuevo pais?

**6. ¿Qué actor (empresa, sector de la sociedad, organismo descentralizado, gobierno, etc.) estaría interesado en las preguntas mencionadas que identificó?**

-Unidades administrativas de migración.

-Gobiernos departamentales. 

-Organizaciones no Gubernamentales.

-Organizaciones que dan auxilios a migrantes.

-Organismos multilaterales